<!-- Main content -->
<div class="col-md-12 order-md-1">
  <!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Remove From Stock</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['/main/dashboard']">Home</a></li>
          <li class="breadcrumb-item active">Remove From Stock</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
  <form #frmItems="ngForm" (ngSubmit)="addAdjustment()" class="needs-validation" novalidate>

    <!-- <div class="row">

      <div class="col-md-2">
        <label for="countrys">PaymentType Name</label>
        <select (change)="searchPaymentType($event)" class="custom-select d-block w-100" id="countrys" required>
          <option value="">Choose...</option>
          <option *ngFor="let paymentType of paymentTypes">{{paymentType.typeName}}</option>
        </select>
      </div>

      <div class="col-md-3 mb-3">
        <label for="paymentTypeName">Rate</label>
        <input type="text" class="form-control" id="paymentTypeName" placeholder="" name="rate"
               [(ngModel)]="searchedPaymentTypes.rate" disabled required>

      </div>

    </div> -->

    <div class="row">

    </div>

    <form #frmItem="ngForm">

      <div class="row">

        <div class="col-md-2 mb-3">
          <label for="code">Product Code:</label>
            <input id="code" type="text"
                   name="code"
                   #code
                   class="form-control"
                   [formControl]="codeF"
                   (change)="searchItems($event)"
                   [(ngModel)]="model.code"
                   [ngbTypeahead]="search"
                   [resultFormatter]="resultFormatBandListValue"
                   [inputFormatter]="inputFormatBandListValue"
                   #instance="ngbTypeahead"
                   [inputFormatter]="formatter"
                   autofocus
              />
        </div>

        <!-- <div class="col-md-3 mb-3">
          <label for="Discription">Description</label>
          <input type="text" class="form-control" id="Discription" placeholder="" name="discription"
                  [formControl]="description" [(ngModel)]="searchedItems.discription" disabled required>
        </div> -->

        <div class="col-md-2 mb-3">
          <label for="unicprice">Retail($)</label>
          <input type="number" class="form-control" id="unicprice" placeholder="" name="unicPrice"
                 [(ngModel)]="searchedItems.unicPrice" min="1" max="1000" step="0.01" value="0.00"
                 [formControl]="unitPrice" disabled required>
        </div>

        <div class="col-md-2 mb-3">
          <label for="retailprice">Wholesale($)</label>
          <input type="number" class="form-control" id="retailprice" placeholder="" name="retailPrice"
                 [(ngModel)]="searchedItems.retailPrice" min="1" max="1000" step="0.01" value="0.00"
                 [formControl]="retailPrice" disabled required>
        </div>

        <div class="col-md-2 mb-3">

            <label for="purchasePrice">Purchase($)</label>
            <input type="number" class="form-control" id="purchasePrice" placeholder=""
                  [(ngModel)]="searchedItems.purchasePrice" min="1" max="1000" step="0.01" value="0.00"
                  [formControl]="purchasePrice" disabled name="purchasePrice" required>

        </div>

        <div class="col-md-2 mb-3">
          <label for="Qty On Hand">In-stock</label>
          <input type="number" class="form-control" id="Qty On Hand" placeholder="0"  name="qtyonhand"
                [formControl]="qtyOHF" [(ngModel)]="searchedItems.qtyOnHand" disabled required>
        </div>

        <div class="col-md-2 mb-3">
            <label for="qty">Deduction</label>
            <input #qty type="number" class="form-control" id="qty" placeholder="" min="1" name="qty"
                  [formControl]="qtyF" required>
        </div>

        <div class="card-body button">
          <button class="btn btn-primary" (click)="SelectAdjustmentDetails()">Add</button>
        </div>
     </div>

    </form>

    <div class="col-md-12 col-12">
      <table id="tblPaymentTypes" class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>Product Code</th>
          <th>Description</th>
          <th>Retail($)</th>
          <th>Wholesale($)</th>
          <th>Purchase($)</th>
          <th>Qty</th>
          <th>Total($)</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let SelectItem of selectedItems; let i = index">
          <td>{{SelectItem.item.code}}</td>
          <td>{{SelectItem.item.discription}}</td>
          <td>{{SelectItem.item.unicPrice  | currency: 'USD'}}</td>
          <td>{{SelectItem.item.retailPrice  | currency: 'USD'}}</td>
          <td>{{SelectItem.purchasePrice  | currency: 'USD'}}</td>
          <td>{{SelectItem.quantity}}</td>
          <td>{{SelectItem.quantity * SelectItem.purchasePrice  | currency: 'USD'}}</td>
          <td>
            <button (click)="removeItem(i, (SelectItem.quantity * SelectItem.purchasePrice))"
                class="btn btn-sm btn-outline-danger">Remove</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-md-3 offset-md-3"></div>
      <div class="col-md-3 offset-md-3">
        <label for="total"><h3>Total</h3></label>
        <input type="text" class="form-control" id="total" name="total"
               value="{{FullTotal  | currency: 'USD'}}" disabled required>
      </div>
    </div>

    <div class="card-footer text-muted">
      <hr class="mb-4">
      <button [disabled]="!selectedItems || selectedItems.length === 0 || isSubmitting" class="btn btn-success btn-lg btn-block" type="submit">Complete Stock Removal</button>
    </div>
  </form>
</div>
