<div class="wrapper">
  <!-- Navbar -->
  <app-nav-bar></app-nav-bar>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <app-side-bar></app-side-bar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <!-- /.content-wrapper -->
  <div class="no-print">
    <app-footer></app-footer>
  </div>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
