<!-- Main content -->
<div class="col-md-12 order-md-1">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Make Sale</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/main/dashboard']">Home</a></li>
            <li class="breadcrumb-item active">Make Sale</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <form #frmItems="ngForm" (ngSubmit)="addOrder()" class="needs-validation" novalidate>

    <div class="row">

      <div class="col-md-2">
        <label for="countrys">Payment</label>
        <select [disabled]="paymentStatus" (change)="searchPaymentType($event)" class="custom-select d-block w-100"
          id="countrys" required>
          <option value="">Choose...</option>
          <option *ngFor="let paymentType of paymentTypes">{{paymentType.typeName}}</option>
        </select>
      </div>

      <div class="col-md-1 mb-3">
        <label for="paymentTypeName">Rate</label>
        <input type="text" class="form-control" id="paymentTypeName" placeholder="" name="rate" [formControl]="rate"
          [(ngModel)]="searchedPaymentTypes.rate" disabled required>

      </div>

      <div class="offset-md-0 col-md-2">
        <label for="sale">Select Sale...</label>
        <select [disabled]="true" [formControl]="saleType" class="custom-select d-block w-100"
          id="sale" required>
          <option [value]="sale.name" *ngFor="let sale of saleTypes">{{sale.name}}</option>
        </select>
      </div>

      <!-- <pre>{{saleType.value | json}}</pre> -->

    </div>

    <div class="row">
<!-- <pre>{{model.code}}</pre> -->
    </div>

    <form #frmItem="ngForm">

      <div class="row">

        <div class="col-md-2 mb-3">
          <label for="code">Product Code:</label>
          <input id="code" type="text" name="code"
                 #code [formControl]="codeF" class="form-control"
                 (change)="searchItems($event)" [(ngModel)]="model.code"
                 [ngbTypeahead]="search"
                 [resultFormatter]="resultFormatBandListValue" [inputFormatter]="inputFormatBandListValue"
                 #instance="ngbTypeahead" [inputFormatter]="formatter" autofocus />
        </div>

        <!-- <div class="col-md-4 mb-3">
          <label for="Discription">Description</label>
          <input type="text" class="form-control" id="Discription" placeholder="" name="discription"
            [formControl]="description" [(ngModel)]="searchedItems.discription" disabled required>
        </div> -->

        <div class="col-md-2 mb-3">
          <label for="unicprice">Retail($)</label>
          <input type="text" class="form-control" id="unicprice" placeholder="" name="unicPrice"
            [formControl]="unitPrice" [(ngModel)]="searchedItems.unicPrice" disabled required>
        </div>

        <div class="col-md-2 mb-3">
          <label for="retailprice">Wholesale($)</label>
          <input type="text" class="form-control" id="retailprice" placeholder="" name="retailPrice"
            [formControl]="retailPrice" [(ngModel)]="searchedItems.retailPrice" disabled required>
        </div>

        <div class="col-md-2 mb-3">
          <label for="qtyonhand">In-stock</label>
          <input #qtyonhand type="number" [formControl]="qtyOHF" class="form-control" id="qtyonhand" placeholder="0"
            name="qtyonhand" [(ngModel)]="searchedItems.qtyOnHand" disabled required>
        </div>

        <div class="col-md-2 mb-3">
            <label for="qty">Qty</label>
            <input #qty type="number" [formControl]="qtyF" class="form-control" id="qty" placeholder="" min="1"
              name="qty" required>
        </div>

        <div class="card-body button">
          <button class="btn btn-primary " (click)="SelectOrderDetails()">Add</button>
        </div>
      </div>

    </form>

    <div class="col-md-12 col-12">
      <table id="tblPaymentTypes" class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Product Code</th>
            <th>Description</th>
            <th>Retail Price($)</th>
            <th>Wholesale Price($)</th>
            <th>Qty</th>
            <th>Total Price($)</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let SelectItem of selectedItems; let i = index">
            <td>{{SelectItem.item.code}}</td>
            <td>{{SelectItem.item.discription}}</td>
            <td>{{SelectItem.item.unicPrice  | currency: 'USD'}}</td>
            <td>{{SelectItem.item.retailPrice  | currency: 'USD'}}</td>
            <td>{{SelectItem.quantity}}</td>
            <td>{{SelectItem.quantity * SelectItem.unitprice  | currency: 'USD'}}</td>
            <td>
              <button (click)="removeItem(i, (SelectItem.quantity * SelectItem.unitprice))"
                class="btn btn-sm btn-outline-danger">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-md-3 offset-md-3"></div>
      <div class="col-md-3 offset-md-3">
        <label for="total">
          <h3>Total</h3>
        </label>
        <input type="text" class="form-control" id="total" placeholder="" name="total"
          value="{{FullTotal | currency: 'USD'}}" disabled required>
      </div>
    </div>

    <div class="card-footer text-muted">
      <hr class="mb-4">
      <button [disabled]="!selectedItems || selectedItems.length === 0" class="btn btn-success btn-lg btn-block"
        type="submit"> Complete Sale</button>
    </div>
  </form>
</div>
