  <!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Manage Product(s)</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
          <li class="breadcrumb-item active">Manage Product(s)</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-12">

        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Product(s) Information</h3>

          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col col-12">
                <form #frmItems="ngForm" (ngSubmit)="frmItems.form.valid && saveItems()">

                  <p class="form-group">
                    <label for="code">Product Code</label>
                    <input [disabled]="manuallySelected" name="code" #code="ngModel" [(ngModel)]="selectedItems.code" id="code"
                    [ngClass]="{ 'is-invalid': frmItems.submitted && code.invalid }" required class="form-control">
                  </p>
                  <div *ngIf="frmItems.submitted && code.invalid" class="invalid-feedback">
                    <div *ngIf="code.errors.required">Code is required!</div>
                  </div>

                  <div class="row">

                    <div class="col-md-4 col-12"><p class="form-group">
                      <label for="qtyOnHand">Qty</label>
                      <input [disabled]="manuallySelected" type="number" name="qtyOnHand" [(ngModel)]="selectedItems.qtyOnHand" id="qtyOnHand"
                             class="form-control">
                    </p></div>

                    <div class="col-md-4 col-12"><p class="form-group">
                      <label for="txtpurchasePrice">P/Price</label>
                      <input [disabled]="manuallySelected" type="number" name="txtpurchasePrice" [(ngModel)]="selectedItems.purchasePrice" id="txtpurchasePrice"
                             class="form-control" min="0" max="1000" step="0.01" value="0.00">
                    </p></div>

                    <div class="col-md-4 col-12"><p class="form-group">
                      <label for="txtunicPrice">U/Price</label>
                      <input type="number" name="txtunicPrice" [(ngModel)]="selectedItems.unicPrice" id="txtunicPrice"
                             class="form-control" min="0" max="1000" step="0.01" value="0.00">
                    </p></div>

                  </div>

                  <p class="form-group">
                    <label for="txtDiscription">Description</label>
                    <input name="txtDiscription" [(ngModel)]="selectedItems.discription" id="txtDiscription" class="form-control">
                  </p>

                  <p class="form-group">
                    <label for="txtComments">Comments</label>
                    <input type="text" name="txtComments" [(ngModel)]="selectedItems.comments" id="txtComments" class="form-control">
                  </p>



                  <div>
                    <button type="submit" class="btn btn-primary">Save</button>
                    &nbsp;
                    <button (click)="clear()" type="button" class="btn btn-warning">Clear</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

      </div>
      <div class="col-md-8 col-12">
        <div class="form-group has-search">
          <span class="fa fa-search form-control-feedback"></span><input class="form-control" type="text"
                 name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="  Search here...">
        </div>
        <table id="tblItems" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Code</th>
            <th>Description</th>
            <th>U/Price</th>
            <th>P/Price</th>
            <th>Qty</th>
            <!-- <th></th> -->
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of items | filter:searchText | paginate: { itemsPerPage: 6, currentPage: p }" (click)="selectItems(item)"
              [class.selected]="item==selectedItems">
            <td>{{item.code}}</td>
            <td>{{item.discription}}</td>
            <td>{{item.unicPrice | currency: 'USD'}}</td>
            <td>{{item.purchasePrice | currency: 'USD'}}</td>
            <td>{{item.qtyOnHand}}</td>

            <!-- <td>
              <i (click)="deletItems(item)" class="fa fa-trash fa-2x"></i>
            </td> -->
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="5">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

